<div class="loginModal">
  <div class="loginForm col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-md-offset-3">
    <div class="loginCloseBtnContainer" ng-click="lc.closeLoginModal()">
      <i class="fa fa-times fa-lg"></i>
    </div>
    <div class="loginInputs">
      <div class="login">
        <h2>Log In</h2>
        <input class="form-control" ng-model="lc.loginInfo.username" type="text" placeholder="Username" required/><br/>
        <input class="form-control" ng-model="lc.loginInfo.password" type="password" placeholder="Password" required/><br/>
        <button class="form-control btn btn-primary" ng-click="lc.submitLogin(lc.loginInfo)">Log In</button>
        <br/>
        <alert-bar class="alert alert-danger" ng-if='lc.loginAlert' ng-click="lc.closeLoginAlert()">{{lc.loginAlert}}</alert-bar>
      </div>
      <div class="register">
        <h2>Register</h2>
        <input class="form-control" ng-model="lc.registerInfo.username" type="text" placeholder="Username" required/><br/>
        <input class="form-control" ng-model="lc.registerInfo.password" type="password" placeholder="Password" required/><br/>
        <input class="form-control" ng-model="lc.registerInfo.password2" type="password" placeholder="Confirm Password" required/><br/>
        <button class="form-control btn btn-primary" ng-click="lc.submitRegister(lc.registerInfo)">Register</button>
        <alert-bar class="alert alert-danger" ng-if='lc.registerAlert' ng-click="lc.closeRegisterAlert()">{{lc.registerAlert}}</alert-bar>
      </div>

    </div>
  </div>
</div>
